// =============================================================================
// Media Query
// =============================================================================

@mixin respond-to($breakpoint){
  @if $breakpoint == "sm" {
    @media (max-width: 576px){
      @content;
    }
  }
  @else if $breakpoint =="md" {
    @media (max-width: 768px){
      @content;
    }
  }
  @else if $breakpoint == "lg" {
    @media (max-width: 992px){
      @content;
    }
  }
  @else if $breakpoint == "xl"{
    @media (max-width: 1200px) {
      @content;
    }
  }
}


// =============================================================================
// Font Face
// =============================================================================

@import url('https://fonts.googleapis.com/css?family=Anton|Bangers|Source+Sans+Pro&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
