/* line 2, ../scss/style.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 7, ../scss/style.scss */
body {
  font-family: 'Amiko', sans-serif;
  background-color: #2F80ED;
  color: #fff;
  overflow-y: hidden;
  width: 100vw; }

/* line 14, ../scss/style.scss */
.container-fluid {
  margin-top: 50px !important; }

/* line 17, ../scss/style.scss */
.bg-yellow {
  background-color: #F2C94C !important; }

/* line 20, ../scss/style.scss */
.bg-blue {
  background-color: #0275D8 !important; }

/* line 23, ../scss/style.scss */
.navbar-brand {
  font-family: 'Bangers', cursive; }

/* line 26, ../scss/style.scss */
.topbar {
  width: 100%;
  top: 0;
  z-index: 5; }

/* line 31, ../scss/style.scss */
.navbar {
  background-color: #2F80ED; }

/* line 34, ../scss/style.scss */
.rightNav {
  justify-content: flex-end !important; }

/* line 37, ../scss/style.scss */
.quoteBtn {
  height: 30px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background: #f7fbff;
  background: -moz-linear-gradient(top, #f7fbff 0%, #207ce5 100%);
  background: -webkit-gradient 0%, #f7fbff, color-stop(100%, #207ce5);
  background: -webkit-linear-gradient(top, #f7fbff 0%, #207ce5 100%);
  background: -o-linear-gradient(top, #f7fbff 0%, #207ce5 100%);
  background: -ms-linear-gradient(top, #f7fbff 0%, #207ce5 100%);
  background: linear-gradient(to bottom, #f7fbff 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbff', endColorstr='#207ce5', GradientType=0 ); }
  /* line 50, ../scss/style.scss */
  .quoteBtn:hover {
    color: #fff; }
  @media (max-width: 576px) {
    /* line 37, ../scss/style.scss */
    .quoteBtn {
      display: none !important; } }

/* line 57, ../scss/style.scss */
.nav-link {
  border-bottom: 3px solid transparent; }
  /* line 59, ../scss/style.scss */
  .nav-link:hover, .nav-link:active {
    border-bottom: 3px solid #F2C94C; }

/* line 63, ../scss/style.scss */
.booknowBtn {
  color: #2F80ED !important; }

/* line 66, ../scss/style.scss */
.display-4 {
  font-family: 'Anton', sans-serif; }

/* line 69, ../scss/style.scss */
.spacing {
  letter-spacing: 5px; }

/* line 72, ../scss/style.scss */
.svc-icons {
  font-size: 40px !important; }

/* line 75, ../scss/style.scss */
.svc-btn {
  max-height: 30px;
  min-width: 100px; }
  /* line 78, ../scss/style.scss */
  .svc-btn a {
    color: #fff !important;
    text-decoration: none !important; }
    /* line 81, ../scss/style.scss */
    .svc-btn a:hover {
      color: #2F80ED !important; }

/* line 86, ../scss/style.scss */
.serviceAlign {
  flex-direction: row; }
  @media (max-width: 576px) {
    /* line 86, ../scss/style.scss */
    .serviceAlign {
      flex-direction: column;
      text-align: center;
      margin-bottom: 10%; } }

/* line 94, ../scss/style.scss */
.carouselImg {
  max-width: 400px;
  height: 300px; }

/* line 98, ../scss/style.scss */
.captionStyle {
  background-color: #f7fbff73; }

/* line 101, ../scss/style.scss */
.carouselText {
  background-color: #f7fbff73; }

/* line 104, ../scss/style.scss */
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #2F80ED !important; }

/* line 107, ../scss/style.scss */
.sub-text-bold {
  font-weight: bold;
  font-size: 1.5em; }
  @media (max-width: 576px) {
    /* line 107, ../scss/style.scss */
    .sub-text-bold {
      font-weight: normal;
      font-size: 1.2em; } }

/* line 115, ../scss/style.scss */
.footerNav {
  list-style: none; }
  /* line 117, ../scss/style.scss */
  .footerNav li {
    list-style: none; }
    /* line 119, ../scss/style.scss */
    .footerNav li a {
      color: black;
      font-family: 'Source Sans Pro', sans-serif; }

/* line 127, ../scss/style.scss */
.branchSet .menu-item .sub-menu {
  display: flex;
  list-style: none;
  justify-content: space-around; }
  /* line 131, ../scss/style.scss */
  .branchSet .menu-item .sub-menu li {
    list-style: none;
    border: 2px solid #2F80ED;
    padding: 2px 8px; }
    /* line 135, ../scss/style.scss */
    .branchSet .menu-item .sub-menu li:hover, .branchSet .menu-item .sub-menu liactive {
      background-color: #2F80ED;
      color: #fff; }
      /* line 138, ../scss/style.scss */
      .branchSet .menu-item .sub-menu li:hover a, .branchSet .menu-item .sub-menu liactive a {
        color: #F2C94C;
        text-decoration: none; }
        /* line 141, ../scss/style.scss */
        .branchSet .menu-item .sub-menu li:hover a:hover, .branchSet .menu-item .sub-menu li:hover a:active, .branchSet .menu-item .sub-menu liactive a:hover, .branchSet .menu-item .sub-menu liactive a:active {
          color: #F2C94C;
          text-decoration: none; }
    @media (max-width: 576px) {
      /* line 131, ../scss/style.scss */
      .branchSet .menu-item .sub-menu li {
        border: none; }
        /* line 149, ../scss/style.scss */
        .branchSet .menu-item .sub-menu li:hover, .branchSet .menu-item .sub-menu liactive {
          background-color: transparent; } }
  @media (max-width: 576px) {
    /* line 127, ../scss/style.scss */
    .branchSet .menu-item .sub-menu {
      flex-direction: column;
      text-align: center; } }

/* line 162, ../scss/style.scss */
.bookFormTitle {
  font-family: 'Anton', sans-serif;
  font-weight: bold; }

/* line 166, ../scss/style.scss */
.footerAlign {
  flex-direction: row; }
  @media (max-width: 576px) {
    /* line 166, ../scss/style.scss */
    .footerAlign {
      flex-direction: column;
      text-align: center; } }

/* line 173, ../scss/style.scss */
.close {
  position: absolute;
  z-index: 100;
  right: 2%;
  top: 5%; }

/* line 179, ../scss/style.scss */
#myModal {
  margin: auto; }
  @media (max-width: 576px) {
    /* line 181, ../scss/style.scss */
    #myModal .modal-dialog {
      width: 355px;
      margin: auto; } }

/* line 189, ../scss/style.scss */
iframe {
  width: auto !important; }

/*# sourceMappingURL=style.css.map */
